extends layout
block vars
    - var title = "Калькулятор ежемесячного платежа";
block content
    main.Layout
        .Layout_box
            .Layout_row.Layout_row-top
                .Layout_header
                    include includes/blocks/Header
                .Layout_switcher
                    .Switch
                        button.Switch_label.Switch_label-left.Switch_label-active Ежемесячный платеж
                        button.Switch_label.Switch_label-right Сумма кредита
                        label.Switch_toggler
                            input.Switch_checkbox(type='checkbox' autocomplete="off")
                            span.Switch_slider.Switch_slider-round
        .Layout_box#paymentCalcContainer
            .Layout_row.Layout_row-middle
                .Layout_filters
                    include includes/blocks/MortgagePaymentCalc
                    .Layout_callToAction.Layout_callToAction-n1
                        button.Btn.Btn-block Отправить&nbsp;заявку
                .Layout_banksList
                    #paymentCalcBanklistContainer
                .Layout_callToAction.Layout_callToAction-n2
                    button.Btn.Btn-block Отправить&nbsp;заявку

            .Layout_row
                .Layout_flats
                    #paymentCalcFlatsContainer
        .Layout_box#summCalcContainer(style="display:none;")
            .Layout_row.Layout_row-middle
                .Layout_filters
                    include includes/blocks/MortgageSummCalc
                    .Layout_callToAction.Layout_callToAction-n1
                        button.Btn.Btn-block Отправить&nbsp;заявку
                .Layout_banksList
                    #summCalcBanklistContainer
                .Layout_callToAction.Layout_callToAction-n2
                    button.Btn.Btn-block Отправить&nbsp;заявку

            .Layout_row
                .Layout_flats
                    #summCalcFlatsContainer
block page_bottom
    script(src="/js/index.js")