.FlatsList        
    &_title
        font-weight 500
        @media $xs
            font-size 20px
            letter-spacing -.3px
            line-height 1
            padding-bottom 30px
        @media $sm
            font-size 25px
            line-height 1.36
            letter-spacing -.4px
            padding-bottom 33px
        @media $md
            font-size 32px
            line-height 1.06
            letter-spacing -.5px
            padding-bottom 30px
    &_subtitle
        font-weight 500
        @media $xs
            font-size 15px
            line-height 2.27
            padding-bottom 9px
        @media $smPlus
            font-size 20px
            line-height 1.7
    &_mutedText
        color #bebebe
        font-weight 400
        @media $smPlus
            letter-spacing -.4px
    
    &_tableWrap,
    &_footer
        @media $sm
            margin-left -20px
            margin-right -20px
    &_footer
        @media $smPlus
            padding-bottom 42px
    &_tableWrap
        @media $xs
            display none
    &_cardsWrap
        @media $smPlus
            display none
    &_showMoreBtn
        font-size 16px
        width 100%
        display block
        padding 14px
        background #f2f4f7
        border 0
        border-radius 3px