.FlatsTable
    width 100%
    &_pic
        width 45px
        height 45px
        object-fit contain
    &_th,
    &_td
        vertical-align middle
        min-width 8%
        &:first-child
            padding-left 20px
        &:last-child
            padding-right 0
    &_th
        font-size 12px
        letter-spacing 1.3px
        font-weight 400
        color mix(#fff, #000, 50%)
        text-align left
        white-space nowrap
        padding 32px 4px
    &_td
        border-top 1px solid #e5e5e5
        padding 16px 4px