.FlatCard
    $sideMargin = 20px
    border-radius 3px
    border solid 1px #cdd6e1
    padding-top 29px
    overflow hidden
    margin-bottom 10px
    &_pic
        margin 0 $sideMargin 24px
        display block
        width calc(100% - 40px)
        height auto
    &_desc
        border-top 1px solid #cdd6e1
        padding 28px $sideMargin 17px
    &_title
        font-size 15px
        letter-spacing -.2px
        padding-bottom 24px
    &_footer
        background #f2f4f7
        padding 17px $sideMargin
        display flex
        justify-content space-between
        align-items center
    
    &_details
        display flex
        flex-wrap wrap
        align-items center
        white-space nowrap
        
    &_detailCaption,
    &_detailVal
        width 50%
    &_detailCaption
        font-size 12px
        color #b2b2b2
    &_detailVal
        font-size 16px
        margin-bottom 6px
    &_readMoreBtn
        user-select none
        display flex
        width 24px
        height @width
        background-color #ffffff
        border-radius 50%
        justify-content center
        align-items center
        & > .SvgIco-arrowRight
            width 6px
            height auto
            line-height 0
            pointer-events none