.fs-wrap
    display inline-block
    cursor pointer
    line-height 1
    width 100%
    &.multiple
        .fs-option
            position relative
            padding-left 20px
            padding-right 40px
            border-radius 3px
            .fs-checkbox
                i
                    position absolute
                    margin auto
                    left 0
                    right 10px
                    top 0
                    bottom 0
                    width 14px
                    height 14px
            &.selected
                background-color #c7ddf0
                .fs-checkbox
                    i
                        background embedurl('../../../img/check.svg', "utf8") center no-repeat
                        background-size contain
        .fs-checkbox
            position absolute
            display block
            width 40px
            top 0
            right 0
            bottom 0

.fs-label-wrap
    position relative
    background-color #fff
    .fs-label
        padding 0 40px 0 20px
        height 46px
        line-height 46px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis


.fs-label-wrap,
.fs-dropdown
    user-select none
    user-select none

.fs-arrow
    width 24px
    height 18px
    background embedurl('../../../img/angleDown.svg', "utf8") center no-repeat;
    background-size contain
    position absolute
    top 0
    right 13px
    bottom 0
    margin auto
.fs-open > .fs-label-wrap > .fs-arrow
    transform scaleY(-1)
.fs-dropdown
    position absolute
    background-color #fff
    box-shadow: 0 27px 32px 0 rgba(16,20,26,.1);
    width 100%
    z-index 1000
    .fs-options
        max-height 400px
        overflow auto

.fs-search
    padding 0 8px
    input
        border 0 !important
        box-shadow none !important
        outline none
        padding 6px 0
        width 100%

.fs-option,
.fs-search,
.fs-optgroup-label
    padding 0 20px
    height 46px
    line-height 46px
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    border-top 1px solid #f2f4f7

.fs-option
    cursor pointer
    word-break break-all
    &:last-child
        border-bottom none
    &.disabled
        opacity .4
        cursor default
    &.hl
        background-color #f5f5f5
    &:hover
        background-color #f5f5f5

.fs-no-results
    padding 6px 8px

.fs-option-label
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.fs-optgroup-label
    font-weight bold
    text-align center

.fs-search
    opacity 0
    height 0
    pointer-events none