.Header
    &_mainTitle
        font-weight 500
        @media $xs
            font-size 25px
            line-height 1.36
            letter-spacing -.4px
            padding-bottom 14px
        @media $smPlus
            font-size 32px
            line-height 1.06
            letter-spacing -.5px