.Layout
    @media $smMinus
        padding-top 20px
    @media $md
        padding-top 80px
    &_box
        margin 0 auto
        @media $smMinus
            padding 0 20px
        @media $sm
            max-width 768px
        @media $md
            max-width 1170px
    &_row
        &-top
            @media $smPlus
                display flex
                justify-content space-between
                align-items flex-end
                padding-bottom 40px
        &-middle
            @media $md
                display flex
                justify-content space-between
                padding-bottom 100px
    &_switcher
        @media $xs
            padding-bottom 22px
            display flex
    &_filters
        @media $xs
            margin-right -20px
            margin-left -20px
        @media $sm
            padding-bottom 10px
        @media $md
            width 390px
    &_banksList
        @media $xs
            margin-right -20px
            margin-left -20px
        @media $md
            width 733px
    &_callToAction
        display none
        padding-top 10px
        padding-bottom 10px
        &-n1
            @media $smMinus
                display none
        &-n2
            @media $smMinus
                padding-bottom 42px
            @media $md
                display none
