.MortgageSlider
	width 100%
	position absolute
	top 24px
	left 0
	&_track
		width 100%
		height 46px
		background #fff
		border 0!important
		font-size 12px
	&_progress
		background #c7ddf0
		border-bottom 2px solid #478dcc!important
		outline 0

	&_handle
		border-radius 50%
		border 0!important
		transition box-shadow .1s
		background #478dcc!important
		top auto !important
		bottom -.5em!important
		&.ui-state-active,
		&.ui-state-hover
			box-shadow 0 4px 4px 0 rgba(71, 141, 204, .1), 0 0 0 7px rgba(71, 141, 204, .1)

	&_rangeVals
		width 100%
		height 40px
		border-radius 2px
		border solid 1px #3b4145
		display flex
	&_valViewWrap
		width 50%
		max-width 50%
		padding 0 15px
		height 100%
		display flex
		align-items center
		font-size 1.2rem
		letter-spacing .2px
		font-weight 500
		color #fff
		&-max
			justify-content flex-end
			border-left 1px solid #3b4145
	&_minValViewEl,
	&_maxValViewEl
		margin-right 4px
		transform translateZ(0)
	&_popupInp
		font-size inherit
		font-weight inherit
		color inherit
		line-height inherit
		display inline
		background transparent
		border 0
		position relative
		top -0.1em
		padding 0!important
		text-align left
		outline 0!important