.MortgageCalc
    margin 0 auto
    background #f2f4f7
    @media $xs
        padding 20px 20px 6px
    @media $sm
        display flex
        padding 24px 24px 8px
        justify-content space-between
        flex-wrap wrap
    @media $md
        padding 38px 30px 8px
    &_cell
        width 373px
        height 122px
        border-radius 2px
        position relative
        @media $xs
            width 100%
        @media $smMinus
            &:not(:last-child)
                margin-bottom 25px
        @media $sm
            width 48.5%
        @media $md
            width 100%
            margin-bottom 35px

        &-selectbox
            height auto
        &-summCount
            margin-bottom 0
            height 84px
            border-top 1px solid #e5e5e5
            display flex
            justify-content space-between
            align-items center
            @media $sm
                width 100%
    &_text
        font-weight 400
        position relative
        z-index 10
        font-size 15px
        color mix(#000, #f2f4f7)
        padding-bottom 9px
    &_sumWrapper
        position relative
        z-index 10
        height 19px
        padding 15px 20px 0

    &_sum,
        font-size 16px
        color #000
    &_optStepsCont
        position absolute
        top 91px
        left -6px
        right -6px
    &_optStep
        position absolute
        &-min
            left 0
        &-max
            right 0
        &-middle
            left 50%
            transform translateX(-50%)
    &_stepVal,
    &_stepSuffix
        display block
        text-align center
    &_stepVal
        font-size 15px
        padding-bottom 4px
        line-height .67
    &_stepSuffix
        font-size 12px
        line-height .83
    
    &_summLabel
        color mix(#000, #f2f4f7)
        font-size 15px
    &_summVal
        font-size 18px
        letter-spacing -.5px