.MortgageBanklist
    width 100%
    &_caption
        text-align left
        font-weight 500
        @media $xs
            font-size 20px
            line-height 1
            letter-spacing -.3px
            padding 22px 20px 18px
        @media $smPlus
            font-size 25px
            line-height 1.36
            letter-spacing -.4px
            padding 22px 0 18px
    &_row
        display flex
        flex-direction row
        justify-content flex-start
        align-items center
        font-size 16px
        color #000
        background-color #f2f4f7
        cursor pointer
        &-head
            background-color #fafbfc
            color mix(#fafbfc, #000, 50%)
            font-weight 400
            font-size 15px
            text-align left
            cursor text
        &:hover
            background #fafbfc
    &_cell
        padding 28px 4px
        vertical-align middle
        flex auto
        width 33.33%
        &-th
            border-top 2px solid #f2f4f7
            font-weight 400
            padding 36px 4px
        &:first-child
            @media $xs
                padding-left 20px
            @media $smPlus
                padding-left 43px
                width 42%
        &:last-child
            @media $xs
                padding-right 20px
                text-align right
            @media $smPlus
                padding-right 43px
        &-bankRate
            @media $xs
                text-align center
            @media (max-width: 640px)
                display none

    &_logo
        @media $xs
            width 90px
            height 32px
        @media $smPlus
            width 100px
            height 32px
        background left center no-repeat
        background-size contain
        max-width 100%

    &_bankLink
        position relative
        display none
        padding-right 15px

        &:hover
            text-decoration underline

        &:before
            content ''
            position absolute
            right 0
            top 50%
            margin-top -4.5px
            display block
            width 9px
            height 9px
            background transparent url(/img/link.svg) 0 0 no-repeat

    &_wrapper
        border-bottom solid 2px #fff
        &._open
            background-color rgba(#c7ddf0, .4)
            .MortgageBanklist_row
                background-color transparent

                .MortgageBanklist_cell
                    color transparent

                .MortgageBanklist_bankLink
                    color #5998d1

            .MortgageBanklist_bankLink
                display inline-block

            .MortgageBanklist_price
                display none

    &_inner-wrapper
        height 0
        overflow hidden

    &_inner
        width calc(100% - 40px)
        margin 0 auto
        border-top solid 1px #cdd0d5
        padding 40px 25px

        @media (max-width 640px)
            width 100%
            padding 30px 20px

        &-row
            margin-bottom 40px

            &:last-child
                margin-bottom 0

            &._column
                display flex
                flex-direction row
                justify-content space-between
                align-items center

                @media (max-width 640px)
                    flex-direction column
                    align-items flex-start

            p
                line-height 1.4

            &_tlt
                font-size 20px
                font-weight 500
                margin-bottom 20px

        &-cell
            @media (max-width 640px)
                width 100%
                display flex
                flex-direction row
                justify-content space-between
                align-items center
                margin-bottom 20px

                &:last-child
                    margin-bottom 0
            span
                display block

            &_key
                font-size 15px
                color rgba(#000, .5)
                margin-bottom 10px

                @media (max-width 640px)
                    margin-bottom 0

            &_val
                font-size 20px
                font-weight 500

    &_obj-list
        display flex
        flex-direction row
        justify-content space-between
        align-items flex-start
        flex-wrap wrap
        margin-bottom -25px

        @media (max-width 640px)
            flex-direction column

        &_item
            width 33.33%
            margin-bottom 20px

            @media (max-width 640px)
                width 100%

        &_link
            color #5998d1
            position relative
            padding-right 15px
            line-height 20px

            @media (max-width 640px)
                display block
                width 100%

            &:before,
            &:after
                transition ease .2s margin
                content ''
                position absolute
                right 0
                top calc(50% + 3px)
                width 5px
                height 1px
                background-color #000

            &:before
                transform rotate(45deg)
                margin-top -3px

            &:after
                transform rotate(-45deg)

            &:hover
                &:before,
                &:after
                    margin-right -3px
