.Switch
    display flex
    justify-content center
    align-items center
    &_toggler
        position relative
        display inline-block
        width 48px
        height 24px
    &_checkbox
      display none
      &:checked
          & + .Switch_slider
              background-color #c7ddf0
              &:before
                  transform translateX(22px)
      &:focus
          & + .Switch_slider
              box-shadow 0 0 1px #c7ddf0

    &_slider
        position absolute
        cursor pointer
        top 0
        left 0
        right 0
        bottom 0
        background #c7ddf0
        transition .4s
        &:before
            position absolute
            content ""
            height 18px
            width 18px
            left 4px
            top 50%
            margin-top -9px
            background-color #478dcc
            transition .2s
        &-round
            border-radius 14px
            &:before
                border-radius 50%
    &_label
        white-space nowrap
        border 0
        padding 0
        background none
        color mix(#000, #fff, 50%)
        font-weight 500
        @media $xs
            font-size 13px
        @media $sm
            font-size 15px
            
        &-active
            color #000
            pointer-events none
        &-left
            order 0
            padding-right 9px
        &-right
            order 2
            padding-left 9px