form.MortgageCalc.MortgageCalc-payment(action="/ajax/monthly_payment_calc_response_example.json", method="get")
    .MortgageCalc_cell.MortgageCalc_cell-selectbox
        .MortgageCalc_text Жилой комплекс
        .MortgageSelect
            select.MortgageSelect_select(name="housing[]" multiple autocomplete="off")
                option(value="0") ЖК «Изумрудные холмы»
                option(value="1") ЖК «Золотая звезда»
                option(value="2") ЖК «Эталон-Сити»
                option(value="3") ЖК «Летний сад»
                option(value="4") ЖК «Нормандия»
                option(value="5") ЖК «Серебряный фонтан»

    .MortgageCalc_cell.MortgageCalc_cell-firstPayment
        .MortgageCalc_text Первый взнос, руб.
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="firstPay" type="hidden" data-min-value="0" data-max-value="6051933" autocomplete="off" value="218313")
        .MortgageCalc_optStepsCont
            .MortgageCalc_optStep.MortgageCalc_optStep-min
                span.MortgageCalc_stepVal 0
                span.MortgageCalc_stepSuffix млн.
            .MortgageCalc_optStep.MortgageCalc_optStep-middle
                span.MortgageCalc_stepVal 3
                span.MortgageCalc_stepSuffix млн.
            .MortgageCalc_optStep.MortgageCalc_optStep-max
                span.MortgageCalc_stepVal 6
                span.MortgageCalc_stepSuffix млн.
    .MortgageCalc_cell.MortgageCalc_cell-price
        .MortgageCalc_text Стоимость объекта, руб.
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum

        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="price" type="hidden" data-min-value="2083128" data-max-value="8024370" autocomplete="off" value="2183128")
        .MortgageCalc_optStepsCont
            .MortgageCalc_optStep.MortgageCalc_optStep-min
                span.MortgageCalc_stepVal 2
                span.MortgageCalc_stepSuffix млн.
            .MortgageCalc_optStep.MortgageCalc_optStep-middle
                span.MortgageCalc_stepVal 5
                span.MortgageCalc_stepSuffix млн.
            .MortgageCalc_optStep.MortgageCalc_optStep-max
                span.MortgageCalc_stepVal 8
                span.MortgageCalc_stepSuffix млн.
    .MortgageCalc_cell.MortgageCalc_cell-duration
        .MortgageCalc_text Срок до
        .MortgageCalc_sumWrapper
            span.MortgageCalc_sum
        .MortgageSlider.MortgageSlider-mortgage.MortgageCalc_slider
            input(name="duration" type="hidden" data-min-value="1" data-max-value="30" autocomplete="off" value="20")
        .MortgageCalc_optStepsCont
            .MortgageCalc_optStep.MortgageCalc_optStep-min
                span.MortgageCalc_stepVal 1
                span.MortgageCalc_stepSuffix год
            .MortgageCalc_optStep.MortgageCalc_optStep-middle
                span.MortgageCalc_stepVal 15
                span.MortgageCalc_stepSuffix лет
            .MortgageCalc_optStep.MortgageCalc_optStep-max
                span.MortgageCalc_stepVal 30
                span.MortgageCalc_stepSuffix лет
    .MortgageCalc_cell.MortgageCalc_cell-summCount
        .MortgageCalc_summLabel Сумма кредита
        .MortgageCalc_summVal(data-credit) 4 145 000 руб.
